<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wms.ezmusicbox.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/> <!-- Permission used for installing shortcut -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>  <!-- Permission used for checking if shortcut has been created -->

    <!--
        Declare hardware features that aren't critical to your app as required="false"
    -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="true"/>

    <!-- Screen support -->
    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"
                      android:resizeable="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.wms.ezmusicbox.sdk.activity.MusicListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.wms.ezmusicbox.sdk.activity.AboutAppActivity"
            android:label="@string/aboutAppActivityTitle"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

    </application>

</manifest>
